---
- name: Ensure UFW is installed.
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: true

- name: Enable UFW firewall.
  community.general.ufw:
    state: enabled

- name: Allow new SSH in firewall.
  community.general.ufw:
    rule: allow
    port: '{{ security_ssh_port }}'
    src: '{{ security_ssh_allowed_subnet }}'
    comment: SSH
